<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change</title>
</head>
<style>
    body {
    background : url(statics/student.jpg),
    url(statics/student.png);
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    background-position: 0% 0%, 100% 0%;
    }
</style>
<body>
    <div align="center">
        <form action="{{ url_for('change_group', my_id = group.id) }}" method="post">
            <p>This's old fullname</p>
            <p>{{ group.fullname }}</p>
            <p>Enter you new fullname</p>
            <p><input type="text" name="fullname"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
    </div>
</body>
</html>