<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<style>
    body {
    background : url(https://i.ibb.co/QjDvwbV/student.jpg),
    url(https://i.ibb.co/DMV8HWy/student.png);
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    background-position: 0% 0%, 100% 0%;
    }
</style>
<body>
    <div align="center">
        <form action="{{ url_for('create_group') }}" method="post">
            <p>Enter you fullname</p>
            <p><input type="text" name="fullname"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
    </div>
</body>
</html>