<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<style>
    body {
    background : url(../statics/student.jpg),
    url(../statics/student.png);
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    background-position: 0% 0%, 100% 0%;
    }
</style>
<body>
    <div align="center">
        <table border=1>
            <tr>
                <td><div align="center">Id</div></td>
                <td><div align="center">Fullname</div></td>
                <td><div align="center">Other</div></td>
            </tr>
            {% for group in groups %}
            <tr>
                <td><div align="center">{{ group.id }}</div></td>
                <td><div align="center">{{ group.fullname }}</div></td>
                <td>
                    <form action="{{ url_for('change_group', my_id = group.id) }}">
                        <button>Change</button>
                    </form>
                    <form action="{{ url_for('del_group', my_id = group.id) }}">
                        <button>Del</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p></p>
        <form action="{{ url_for('create_group') }}">
            <button>Create new group</button>
        </form>
    </div>
</body>
</html>